body {
  background-color: rgba(252,260,227,1);
<<<<<<< HEAD
}

h1 {
  color: white;
  font-size: 25px;
  font-family: 'cambria';
  background-color: black;
  padding: 20px;

=======
  text-align: center;
  font-family: Helvetica;
>>>>>>> 9750610c78d116dfaa06c084651f3c11665f7d35
}
